<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-4 foot-col1">
            <h6 style="color: black; margin-bottom: 0%; margin-top: 5px;">Get Connected with us on Social Networks : </h6>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4 foot-col3">
            <a href="https://wa.me/919789815950" target="_blank" class="socialLinks"><i class="bi bi-whatsapp"></i></a>
            <a href="mailto:natyataara@gmail.com" target="_blank" class="socialLinks"><i class="bi bi-envelope-fill"></i></a>
            <a href="https://www.instagram.com/natyataara/" target="_blank" class="socialLinks"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCutc-yW6rOt12TyVFAcptpQ" target="_blank" class="socialLinks"><i class="bi bi-youtube"></i></a>
            <a href="https://www.facebook.com/NatyaTaara/" target="_blank" class="socialLinks"><i class="bi bi-facebook"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid footer1">
    <div class="row">
        <div class="col-md-3 footerCol">
          <h4 style="font-family: 'satisfy', cursive;"><span style="color: red;">Natya</span><span style="color: greenyellow;">Taara</span></h4>
          <p style="text-align: left;">A Dance School headed by Ishwarya Balabharthy, NatyaTaara specializes in Dance Training for Bharatanatyam and Cinematic Freestyle (Bollywood), Choreography for Corporate events, Weddings and Sangeets.
            Ishwarya Balabharthy trains 100 students of  <a href="/aboutus" style="text-decoration: none; color:yellow">more</a></p>
        </div>
        <div class="col-md-3 footerCol">
            <h5>Useful Links</h5>
            <a href="/onlineclass" class="footLinks">Online Classes</a> <br>
            <a href="/studioclass" class="footLinks">Studio Classes</a> <br>
            <a href="/contact" class="footLinks">Contact</a> <br>
            <a href="/aboutus" class="footLinks">About Us</a> <br>
            <a href="/#testimonials" class="footLinks">Testimonials</a>            
          </div>
          <div class="col-md-3 footerCol">
            <h5>Student Links</h5>
            <a href="/user/signup" class="footLinks">New Student?</a> <br>
            <a href="/user/profile" class="footLinks">Student's Profile</a> <br>
            <a href="/spaceForRent" class="footLinks">Rent our Studio</a> <br>
          </div>
          <div class="col-md-3 footerCol">
            <img src="/images/logo1.png" alt="" style="width: 30%; padding-bottom: 1em;text-align: center;">
            <h4 class="compName"><span style="color: red;">Natya</span><span style="color:green;">Taara</span><br> Dance Company</h4>
            <p class="address"><i class="bi bi-geo-alt-fill"></i> 11th Sector Park, No. D, <br> 1st Floor, Udhayam Oviyam Plot, <br> No. 919, 66th Street, KK Nagar, <br> Chennai, TamilNadu - 600078.</p>
            
          </div>
    </div>
</div>
<div class="lastFooter">
    <p style="margin: 0%;">© 2023 NatyaTaara Dance Company</p>
</div>