<div class="containerfluid cf-au">
    <div class="row">
        <div class="col-md-12 au-1">
            <h6 class="au-h6">About us</h6>
            <h1 class="au-h1"><span class="word">Teach <i class="bi bi-signpost-split-fill"></i> </span> <span class="word">Love <i class="bi bi-heart-fill"></i> </span> <span class="word">Inspire <i class="bi bi-trophy-fill"></i></span> </h1>
            <p class="au-motto  text-focus-in">That's what &nbsp;  <span style="font-weight: bold; font-size: 2rem;"> NatyaTaara </span>&nbsp;  is!</p>
            
        </div>
        <div class="col-md-12 au-2">
            <h3 class="au-title">NatyaTaara Dance Company</h3>
            <p class="au-content">
                Born from the founder, Ishwarya Balabharathy’s love for the art, NatyaTaara is a dance school, based on connection and trust. Founded in September 2015 in the depths of Slough, UK today NatyaTaara has grown into a school of over 100 students  in Chennai at K. K. Nagar. At NatyaTaara, we value dance as not just another art form but as a medium of creative self-expression, empowering its students to align with their true nature. NatyaTaara’s vision is to create an environment conducive to encourage and support students who are passionate about a career in dance. We nurture this through two distinct styles - Bharathanatyam and Cinematic Freestyle (Bollywood). Each of these styles are taught through a structured syllabus. Our revered practice partnerships with the well-known Prayathnam thereby training our students to be certified learners of Bharathanatyam. Additionally, we train students pursuing BFA and MFA in Bharathanatyam. NatyaTaara also specialises in corporate shows and wedding choreographies. At NatyaTaara, we believe in welcoming our students and clients not just into an academy but into a family where they learn, grow, connect and have fun! 
            </p>
        </div>
        <div class="col-md-12 au-3">
            <h3 class="au3-title">Meet The Talent</h3>
        </div>
        
    </div>
</div>
<div class="container-fluid cf-au2">
    <div class="row">
        <div class="col-md-6">
           <img class="imgg" src="/images/teacher.png" alt="" >
      
</div>
<div class="col-md-6">
    <h2 class="au-teacher">Ishwarya Balabharathy</h2>
    <p class="au-teacher-p">Ishwarya is trained in the Melattur style of Bharathanatyam under the tutelage of Guru Dr. Sheela Unnikrishnan (Founder of Sridevi Nrithyalaya, Chennai) for 13 years. She also holds a Master’s degree in Bharathanatyam. Her passion for the art is reflected in her 20-year career as a dancer where she performed and choreographed classical, semi-classical, contemporary and cinematic freestyle. Her work has been recognised in prestigious stages like Chidambaram Natyaanjali, multiple Tamil Sangams, honourable sabhas all over Tamil Nadu and reality shows such as Jaya TV’s Thakadimi Tha, Raj TV’s Ilaya Kalaingargal, SS Music’s Dancing Doll and ETV’s ‘Dhee’. Ishwarya believes that a good teacher is a forever a student. This is echoed in the diversity of her ongoing classes including those with Guru Smt. Shobana Balachandra through which she continues to enrich her knowledge of rare padhams and javalis and at the same time learning new western styles such as Waacking and Hip-Hop from various dance schools online. Ishwarya is also a  Bharath Kalachar scholarship holder. Her outstanding calibre as a teacher is recognised by the ISFA’s Arya Antara award. Ishwarya is an advocate for versatility in style and believes that learning different dance styles bring out the diversity in our character. This forms the unique basis of NatyaTaara, where students can explore both the rigour of the classical style and the creative embodiment of the cinematic freestyle. 
    </p>
</div>
    </div>
</div>