<div class="container-fluid cf-bookStudio">
    <div class="row">
        <div class="col-md-6">
            <img src="/images/ourStudio1.jpg" alt="" style="width: 100%;">
        </div>
        <div class="col-md-6">
            <h3 style="font-family: 'Staatliches', cursive; color: yellow;">BOOK STUDIO</h3>
            <form action="" method="post">
                <div class="mb-3">
                    <label for="sName" class="form-label"><span style="color: yellow;">Name</span></label>
                    <input type="text" name="sName" required class="form-control" id="sName" placeholder="Name">
                </div>
                <div class="mb-3">
                    <label for="sContact" class="form-label"><span style="color: yellow;">Contact</span></label>
                    <input type="text" name="sContact" required class="form-control" id="sContact" placeholder="Contact">
                </div>
                <div class="mb-3">
                    <label for="sEmail" class="form-label"><span style="color: yellow;">Email</span></label>
                    <input type="email" name="sEmail" required class="form-control" id="sEmail" placeholder="E-Mail">
                </div>
                <div class="mb-3">
                    <label for="sDate" class="form-label"><span style="color: yellow;">Date</span></label><br>
                    <input type="datetime-local" name="wDate" required class="" id="wDate" placeholder="Workshop Date ">
                </div>
            </form>
        </div>
    </div>
</div>