<section id="showCase">
    
    <div class="container-fluid cf-main">
    <div class="row">
        <div class="col-md-12 intro">
            <video muted autoplay loop playsinline class="homeVideo">
                <!-- MP4 must be first for iPad! -->
                <source src="/videos/video.mp4" type="video/mp4" /> <!-- Safari / iOS video    -->
                <source src="/videos/video.ogg" type="video/ogg" /><!-- Firefox / Opera / Chrome10 -->               
            </video>
            <div class="overlay"></div>
            <div class="text">
                <!-- <h1 class="head-h1">Dancers</h1>
                <h1 class="head-h1">Dont Need</h1>
                <h1 class="head-h1">Wings to fly</h1> -->
                <!-- <p class=" head-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Neque blanditiis delectus doloribus accusamus provident nostrum iure at illum et quidem?</p> -->
                <!-- <a href="/onlineclass" role="button" class="btn btn-sm btn-outline-light">Explore</a> -->
            </div>
        </div>
    </div>
</div>

</section>

<div class="course" id="courses">
    <h1 class="course-h1">OUR COURSES</h1>
</div>

<div class="pimg0">
  
   
</div>

<section class="bharathanatyam">
<div class="container-fluid cf-bh">
    <div class="row">
        <div class="col-md-7">
            <h1 class="text-bh1">BharathaNatyam</h1>
            <h3 class="text-bh3">Learn one of the oldest classical dance traditions of India</h3>
            <p class="text-bp">Bharathanatyam is one of the iconic classical dance forms of India that originated in the Tanjore district of Tamil Nadu. It entails a carefully regimented combination of footwork (Nritta), hand gestures (mudras, hastas and viniyogas), torso movements (Karnas) and expressions (abhinayas) documented by the Natya Shastras by Bharata Muni and Abhinaya Dharpana by Nandikeshwara. Through Bharathanatyam, one develops discipline, balance, poise and finesse.</p>
            <a href="/onlineclass" role="button" class="learnbtn btn btn-warning btn-sm">Explore Now!</a>
        </div>
        <div class="col-md-5">
            <img class="img-categ" src="/images/bharathanatyamFront.jpeg" alt="" style="width: 80%;">
        </div>
    </div>
</div>
</section>

    <div class="pimg1">
        <div class="ptext">
            <!-- <p class="text-hp"><span style="background-color: black; padding: 5px;">FREESTYLE</span></p> -->
        </div>
    </div>

    <section class="freestyle">
        <div class="container-fluid cf-bh">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-bh1">Free Style</h1>
                    <h3 class="text-bh3">Break the mould… Let yourself free flow!</h3>
                    <p class="text-bp">Freestyle strengthens your body awareness, rhythm, balance, and stamina, which all work seamlessly with your understanding of the music. Dance improvisation can help you bust through mental barriers when your choreography feels stagnant</p>
                    <a href="/studioclass" role="button" class="learnbtn btn btn-warning btn-sm">Explore Now!</a>
                </div>
                <div class="col-md-5">
                    <img class="img-categ" src="/images/bollywood.jpeg" style="width: 65%; text-align: center;" alt="">
                </div>
            </div>
        </div>
        </section>
        
        <div class="pimg1">
            <div class="ptext">
                <!-- <p class="text-hp"><span style="background-color: black; padding: 5px;">FREESTYLE</span></p> -->
            </div>
        </div>
    
    <div style="width: 15%; margin: auto; height: 2px; background-color: rgb(208,161,242)"></div>
    
    <!-- <section class="gallery" style="padding:2% 7%">
        <div class="container-fluid cf-gallery">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="testi-h2">Gallery</h2>
                </div>
             
              <div class="column">
                <img src="/images/gallery/aa.jpg" class="imgHover" style="width:100%">
                <img src="/images/gallery/bb.jpg" class="imgHover" style="width:100%">
                <img src="/images/gallery/c.jpg" class="imgHover" style="width:100%">
               
              </div>
              <div class="column">
                  <img src="/images/gallery/d.jpg" class="imgHover" style="width:100%">
                  <img src="/images/gallery/e.jpg" class="imgHover" style="width:100%">
                  <img src="/images/gallery/f.jpg" class="imgHover" style="width:100%">
                 
              </div>
              <div class="column">
                <img src="/images/gallery/g.jpg" class="imgHover" style="width:100%">
                <img src="/images/gallery/h.jpg" class="imgHover" style="width:100%">
                <img src="/images/gallery/i.jpg" class="imgHover" style="width:100%">
            </div>  
   
        </div>
    </section> -->

    <div style="width: 15%; margin: auto; height: 2px; background-color: rgb(208,161,242)"></div>
    <section class="otherServices">
        <div class="container-fluid cf-os">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="os-title">Other Services</h2>
                </div>

                <div class="col-md-4 os-col1">
                    <h1 class="text-os1">Corporate Shows</h1>
                    <img src="/images/corporate.jpg" alt="corporate" style="width: 50%;">
                    <p class="text-os">At NatyaTaara, we believe in taking the art to the public to not only entertain but to also engage, connect and build community. If you are a company looking to bring your team together, connect with your clients, or support a charitable cause and looking for a fun way to do it, get in touch with us to organise an event of dance, song and a variety of performances to give your audience a medium to bond! </p>
                    
                </div>
                <div class="col-md-4 os-col2">
                    <h1 class="text-os1">Wedding Choreography</h1>
                    <img src="/images/wedding.jpg" alt="wedding" style="width: 70%;">
                    <p class="text-os">Weddings are a magical time! Bring to life your dream wedding with the perfect selection of songs and customised choreographies for you, your partner, friends and family! At NatyaTaara we strive to make your special day more special by giving you and your family the picture-perfect wedding celebration!</p>
                    
                </div>
                <div class="col-md-4 os-col3">
                    <h1 class="text-os1">College Choreography</h1>
                    <img src="/images/college.jpg" alt="college" style="width: 50%;">
                    <p class="text-os">Are you looking to add more colour and creativity to your school/college’s annual and cultural days? Or are you looking to bag that rolling shield you have had your eyes on for a while? Contact us to give your institution the edge, in giving a standout performance in that competition, or in throwing the best host performances in your own institutions! </p>
                </div>
                <div class="col-md-12">
                    <h6 class="whatsappLink ">Want to discuss? Click Here <a class="contactLink" target="_blank" href="https://wa.me/919789815950"><i class="bi bi-whatsapp"></i> +91 97898 15950</a></h6>
                </div>
                
            </div>
        </div>
    </section>

        <div style="width: 15%; margin: auto; height: 2px; background-color: rgb(208,161,242)"></div>

 <section id="testimonials">
     <div class="containerfluid cf-testi">
         <div class="row">
             <div class="col-md-12">
                 <h2 class="testi-h2">Testimonials</h2>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <h5 class="testi-h4">&#11088; &#11088; &#11088; &#11088; &#11088; <br> “Great place to learn to dance every level . NatyaTaara Aishu is a great dancer and best teacher. I have formed many great friendships there. So much fun in dance class. <br> ❤️❤️❤️❤️" <br> <span style="padding-top:3%; display: block; color:yellow; font-family: 'satisfy', cursive;">- Anuradha Bala.</span></h5>
                      </div>
                      <div class="carousel-item">
                        <h5 class="testi-h4">&#11088; &#11088; &#11088; &#11088; &#11088; <br> “One of the best dance school in chennai...
                            Mam is very knowledgeable and dedicated to ensure the classes happen as per schedule....my daughter has developed a passion towards dance... all credits and very proud of you mam..." <br> <span style="padding-top:3%; display: block; color:yellow; font-family: 'satisfy', cursive;">- Rajesh Madathil.</span></h5>
                      </div>
                      <div class="carousel-item">
                        <h5 class="testi-h4">&#11088; &#11088; &#11088; &#11088; &#11088; <br> “An amazing place to learn dance for all ages! Ishwaraya is very dedicated and makes dancing fun and effortless!! Her choreos are very good and creative. She is very passionate about dance and that reflects in her intelligent way of teaching for all ages." <br> <span style="padding-top:3%; display: block; color:yellow; font-family: 'satisfy', cursive;">- Rashmi ramakrishnan.</span></h5>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
             </div>
         </div>
     </div>
 </section>

        <div style="width: 15%; margin: auto; height: 2px; background-color: rgb(208,161,242)"></div>
 
  <section id="youTube">
    <div class="container-fluid cf-youTube">
        <h3 class="page-header" id="youtube-gallery">NatyaTaara YouTube Channel</h3>
        <div class="row">
            <div class="col-md-6 vid">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/-nrcgzOv9eo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 vid">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/aGCKFRtrRv8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
            </div>
            <div class="col-md-4 vid">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/mF-hqFQcDZs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 vid">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/BiXlN0d5i1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 vid">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/ey6MlAuzd2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
        </div>
        </div>
      </div>
 </section>

 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.7.8/dist/index.bundle.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
 