<div class="container-fluid cf-spaceRent">
    <div class="row">
        <div class="col-md-12">
            <h2 class="rentHead">RENT OUR STUDIO</h2>
        </div>
        <div class="col-md-6">
            <img src="/images/ourStudio.jpg" alt="" style="width: 90%; border-radius: 20px; border: 2px rgb(208, 162, 242) solid;">
        </div>
        <div class="col-md-6">
            <h1 class="studioHead">OUR STUDIO SPACE</h1>
            <h4 style="font-family: 'Staatliches', cursive; color: yellow;">The First 180&#176;  Black Box in Chennai</h4>
            
            <img src="/images/rentStudio.jpg" style="width: 60%;  border-radius: 20px; border: 2px rgb(208, 162, 242) solid;" alt="">
            
            <h3 style="text-align: left; color: white; padding-top: 2%;">FACILITIES</h3>
            <table class="table">
                <tr>
                    <td>
                        <ul class="list-group" style="text-align: left;">
                            <li class="list-group-item" style="background-color: black !important; color: yellow;">500 SqFt. Space</li>
                            <li class="list-group-item" style="background-color: black !important; color: yellow;">Key Lights (Umbrella Lights)</li>
                            <li class="list-group-item" style="background-color: black !important; color: yellow;">Spot Lights (Color)</li>
                            <li class="list-group-item" style="background-color: black !important; color: yellow;">Black Screen 180&#176;</li>
                            <li class="list-group-item" style="background-color: black !important; color: yellow;">Tripod</li>
                            <li class="list-group-item" style="background-color: black !important; color: yellow;">Air Blower</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group" style="text-align: right;">
                            <li class="list-group-item" style="background-color: black !important; color: yellow;">Decor</li>
                            <li class="list-group-item" style="background-color: black !important; color: yellow;">Air Conditioned Studio Space</li>
                            <li class="list-group-item" style="background-color: black !important; color: yellow;">Dressing Rooms</li>
                            <li class="list-group-item" style="background-color: black !important; color: yellow;">Rest Rooms</li>
                            <li class="list-group-item" style="background-color: black !important; color: yellow;">Mirrors</li>
                        </ul>
                    </td>
                </tr>
            </table>
            
            <br>
           </div>
        <div class="col-md-12" id="choosePackage" style="color:white; padding: 4% 0%;">
            <h3 style="font-family:'Staatliches', cursive; color: yellow;">Choose Your Package</h3>
            <div class="row">

                <div class="col-md-4">
                    <div class="card" style="width: 18rem; margin: auto;border: red 1px solid !important">
                        <div class="card-body">
                            <h5 class="card-title">PACKAGE 1</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Only Studio Space</h6>
                            <p class="card-text">Studio Space alone for rent <br> Rs.500/hour</p>
                            <!-- <a href="#" type="button" class="card-link btn btn-sm btn-primary">Book Studio</a>  -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;margin: auto; border: yellow 1px solid !important;">
                        <div class="card-body">
                            <h5 class="card-title">PACKAGE 2</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Studio + Black Screen</h6>
                            <p class="card-text">Studio + Black Screen with Key lights (Ceiling & Umbrella) - Rs.800/hour</p>
                            <!-- <a href="#" type="button" class="card-link btn btn-sm btn-warning">Book Studio</a> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;margin: auto;border: blueviolet 1px solid !important;">
                        <div class="card-body">
                            <h5 class="card-title">PACKAGE 3</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Full Package</h6>
                            <p class="card-text">Studio with Black screen, All lights, Tripod, Blower, Decor - Rent for Rs.1000/hour</p>
                            <!-- <a href="#" type="button" class="card-link btn btn-sm btn-success">Book Studio</a> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12" style="color:white; padding-bottom: 2%;">
            <h3 style="text-align: left;">Cancellation Policy</h3>
            <ul class="list-group" style="text-align: left;">
                <li class="list-group-item" style="background-color: black !important; color: yellow; padding: 0rem;">To be informed 24hrs prior to the shoot schedule for refund.</li>
                <li class="list-group-item" style="background-color: black !important; color: yellow; padding: 0rem;">No Refunds for cancellation on the day of the shoot.</li>
                <li class="list-group-item" style="background-color: black !important; color: yellow; padding: 0rem;">If we cancel due to any emergency, we will intimate 24hrs before your shoot schedule with refund</li>
            </ul>
        </div>
    </div>
    <div class="col-md-12" style="background-color: rgb(208, 162, 242);">
        <h6 style="padding: 1% 2%;">To Book our Studio, enquire <br><a style="text-decoration: none; color: black; font-weight: bold;" target="_blank" href="https://wa.me/917550215950"><i class="bi bi-whatsapp"></i> +91 75502 15950</a></h6>
    </div>
</div>