<div class="container-fluid cf-dashboard">
    <div class="row">
        <div class="col-md-12 col-12">
            <h2 style="color: white;">WORKSHOPS DASHBOARD</h2>
            <p><a href="/backstage/dashboard" style="text-decoration: none; color: white;">Back to dashboard</a></p>
        </div>
        <div class="col-md-3 col-3"></div>
        <div class="col-md-3 col-3">
            <a href="/backstage/createWorkshop" role="button" class="btn btn-warning btn-sm btns">Create Workshop</a>
        </div>
        <div class="col-md-3 col-3">
            <a href="/backstage/viewWorkshop" role="button" class="btn btn-warning btn-sm btns">View Workshop</a>
        </div>
        <div class="col-md-3 col-3">
            
        </div>
    </div>
</div>